.timeline-wrapper {
  background-color: #1b1b1b;
  width: 600px;
  height: 400px;
  position: relative;
  overflow: hidden; }

.timeline {
  position: absolute;
  left: 18px;
  right: 18px;
  top: 0;
  bottom: 0; }
  .timeline .frames {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .timeline .frames li {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 36px;
      margin-left: -18px; }
      .timeline .frames li .line {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: #dddddd;
        left: 50%;
        width: 1px; }
      .timeline .frames li .time {
        position: absolute;
        background-color: #1b1b1b;
        color: #dddddd;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 12px; }
    .timeline .frames .pointer {
      z-index: 100; }
      .timeline .frames .pointer .line {
        background-color: red; }
  .timeline .tags-lines {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .timeline .tags-lines li {
      position: relative;
      height: 30px; }
      .timeline .tags-lines li .tag {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 60px;
        background-color: #cccccc;
        border-radius: 2px; }
